[Desktop Entry]
Type=Application
Name=t1bar studio
GenericName=Touch Bar Designer
Comment=Design your MacBook T1 Touch Bar layout
Exec=/usr/local/bin/t1bar edit -c CONFIG_PATH
Icon=t1bar-studio
Terminal=false
Categories=Utility;
Keywords=touchbar;t1;macbook;ibridge;
StartupNotify=true
